@import './variables';

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.error-msg {
	font-size: 2em;
	color: tomato;
	width: 100%;
}

.section-title {
	text-align: center;
}
