<form matForm class="search-form" [formGroup]="forecastSearchForm">
	<mat-form-field name="city" appearance="fill">
		<mat-label for="city">City</mat-label>
		<input matInput type="search" name="city" #searchQueryInputElement formControlName="city" autofocus required />
		<mat-icon matSuffix>travel_explore</mat-icon>
		<mat-hint *ngIf="!showCityNotFoundError"
			>The forecast for the city will be added to the table automatically</mat-hint
		>
		<mat-hint class="error-msg" *ngIf="showCityNotFoundError">
			The city <i>{{ searchQueryInputElement!.value }}</i> cannot be found!
		</mat-hint>
	</mat-form-field>

	<mat-button-toggle-group
		*ngIf="!showCityNotFoundError"
		class="time-period-selected-button-toggle-group"
		formControlName="timePeriodSelected"
		#timePeriodSelectedToggleGroup
	>
		<mat-button-toggle
			*ngFor="let tpSelected of ALLOWED_FORECAST_TIME_PERIODS"
			class="button"
			[value]="tpSelected"
			#modeButton_{{tpSelected}}
			[routerLink]="['/forecast/' + tpSelected]"
			[queryParams]="{ city: searchQueryInputElement!.value }"
			routerLinkActive="active"
		>
			{{ tpSelected | titlecase }}
		</mat-button-toggle>
	</mat-button-toggle-group>
</form>

<!-- TABLE -->
<bp-forecasts-results-table *ngIf="!showCityNotFoundError"></bp-forecasts-results-table>
